<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: module decorators_menus</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>decorators_menus</strong></big></big></font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:c%3A%5Cgit%5Coc_p4_project%5Cviews%5Cdecorators_menus.py">c:\git\oc_p4_project\views\decorators_menus.py</a></font></td></tr></table>
    <p><tt>Module&nbsp;for&nbsp;views&nbsp;on&nbsp;the&nbsp;top&nbsp;of&nbsp;the&nbsp;console<br>
decorators&nbsp;functions&nbsp;only<br>
&nbsp;<br>
Functions<br>
---------<br>
<a href="#-clean">clean</a>()<br>
&nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;clean&nbsp;the&nbsp;console<br>
<a href="#-pre_menu">pre_menu</a>(under)<br>
&nbsp;&nbsp;&nbsp;&nbsp;for&nbsp;the&nbsp;title&nbsp;of&nbsp;the&nbsp;appliance<br>
<a href="#-main_menu">main_menu</a>(under)<br>
&nbsp;&nbsp;&nbsp;&nbsp;print&nbsp;the&nbsp;main&nbsp;menu<br>
<a href="#-players_menu">players_menu</a>(under)<br>
&nbsp;&nbsp;&nbsp;&nbsp;print&nbsp;the&nbsp;player&nbsp;menu&nbsp;on&nbsp;the&nbsp;console<br>
<a href="#-players_modify_menu">players_modify_menu</a>(under)<br>
&nbsp;&nbsp;&nbsp;&nbsp;print&nbsp;the&nbsp;modify&nbsp;menu&nbsp;on&nbsp;the&nbsp;console<br>
<a href="#-tournament_menu">tournament_menu</a>(under<br>
&nbsp;&nbsp;&nbsp;&nbsp;print&nbsp;the&nbsp;tournament&nbsp;menu&nbsp;on&nbsp;the&nbsp;console<br>
<a href="#-tournament_modify_menu">tournament_modify_menu</a>(under)<br>
&nbsp;&nbsp;&nbsp;&nbsp;print&nbsp;the&nbsp;modify&nbsp;tournament&nbsp;menu&nbsp;on&nbsp;the&nbsp;console<br>
def&nbsp;<a href="#-tournament_modify_sub_menu">tournament_modify_sub_menu</a>(under)<br>
&nbsp;&nbsp;&nbsp;&nbsp;print&nbsp;the&nbsp;modify&nbsp;tournament&nbsp;sub&nbsp;menu&nbsp;on&nbsp;the&nbsp;console<br>
<a href="#-reports_menu">reports_menu</a>(under)<br>
&nbsp;&nbsp;&nbsp;&nbsp;Print&nbsp;the&nbsp;selection&nbsp;choices&nbsp;of&nbsp;reports<br>
<a href="#-tournament_view_menu">tournament_view_menu</a>(under)<br>
&nbsp;&nbsp;&nbsp;&nbsp;print&nbsp;the&nbsp;choice&nbsp;for&nbsp;tournament&nbsp;view&nbsp;menu&nbsp;on&nbsp;the&nbsp;console<br>
<a href="#-reports_tournament">reports_tournament</a>(under)<br>
&nbsp;&nbsp;&nbsp;&nbsp;Print&nbsp;the&nbsp;selection&nbsp;choices&nbsp;of&nbsp;reports</tt></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#aa55cc">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Modules</strong></big></font></td></tr>
    
<tr><td bgcolor="#aa55cc"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><table width="100%" summary="list"><tr><td width="25%" valign=top><a href="os.html">os</a><br>
</td><td width="25%" valign=top><a href="platform.html">platform</a><br>
</td><td width="25%" valign=top></td><td width="25%" valign=top></td></tr></table></td></tr></table><p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#eeaa77">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Functions</strong></big></font></td></tr>
    
<tr><td bgcolor="#eeaa77"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><dl><dt><a name="-clean"><strong>clean</strong></a>()</dt><dd><tt>For&nbsp;clean&nbsp;the&nbsp;console&nbsp;display</tt></dd></dl>
 <dl><dt><a name="-main_menu"><strong>main_menu</strong></a>(under)</dt><dd><tt>print&nbsp;the&nbsp;main&nbsp;menu</tt></dd></dl>
 <dl><dt><a name="-players_menu"><strong>players_menu</strong></a>(under)</dt><dd><tt>print&nbsp;the&nbsp;player&nbsp;menu&nbsp;on&nbsp;the&nbsp;console</tt></dd></dl>
 <dl><dt><a name="-players_modify_menu"><strong>players_modify_menu</strong></a>(under)</dt><dd><tt>print&nbsp;the&nbsp;modify&nbsp;menu&nbsp;on&nbsp;the&nbsp;console</tt></dd></dl>
 <dl><dt><a name="-pre_menu"><strong>pre_menu</strong></a>(under)</dt><dd><tt>for&nbsp;the&nbsp;title&nbsp;of&nbsp;the&nbsp;appliance</tt></dd></dl>
 <dl><dt><a name="-reports_menu"><strong>reports_menu</strong></a>(under)</dt><dd><tt>Print&nbsp;the&nbsp;selection&nbsp;choices&nbsp;of&nbsp;reports</tt></dd></dl>
 <dl><dt><a name="-reports_tournament"><strong>reports_tournament</strong></a>(under)</dt><dd><tt>Print&nbsp;the&nbsp;selection&nbsp;choices&nbsp;of&nbsp;reports</tt></dd></dl>
 <dl><dt><a name="-tournament_menu"><strong>tournament_menu</strong></a>(under)</dt><dd><tt>print&nbsp;the&nbsp;tournament&nbsp;menu&nbsp;on&nbsp;the&nbsp;console</tt></dd></dl>
 <dl><dt><a name="-tournament_modify_menu"><strong>tournament_modify_menu</strong></a>(under)</dt><dd><tt>print&nbsp;the&nbsp;modify&nbsp;tournament&nbsp;menu&nbsp;on&nbsp;the&nbsp;console</tt></dd></dl>
 <dl><dt><a name="-tournament_modify_sub_menu"><strong>tournament_modify_sub_menu</strong></a>(under)</dt><dd><tt>print&nbsp;the&nbsp;modify&nbsp;tournament&nbsp;sub&nbsp;menu&nbsp;on&nbsp;the&nbsp;console</tt></dd></dl>
 <dl><dt><a name="-tournament_view_menu"><strong>tournament_view_menu</strong></a>(under)</dt><dd><tt>print&nbsp;the&nbsp;choice&nbsp;for&nbsp;tournament&nbsp;view&nbsp;menu&nbsp;on&nbsp;the&nbsp;console</tt></dd></dl>
</td></tr></table>
</body></html>