<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: module menu_input_players</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>menu_input_players</strong></big></big></font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:c%3A%5Cgit%5Coc_p4_project%5Cviews%5Cmenu_input_players.py">c:\git\oc_p4_project\views\menu_input_players.py</a></font></td></tr></table>
    <p><tt>Menus&nbsp;input&nbsp;functions&nbsp;for&nbsp;players&nbsp;gestion<br>
&nbsp;<br>
Functions<br>
---------<br>
<a href="#-new_user">new_user</a>()<br>
&nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;add&nbsp;a&nbsp;new&nbsp;user<br>
<a href="#-modify_player">modify_player</a>(player_table)<br>
&nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;modify&nbsp;an&nbsp;existent&nbsp;player</tt></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#eeaa77">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Functions</strong></big></font></td></tr>
    
<tr><td bgcolor="#eeaa77"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><dl><dt><a name="-modify_player"><strong>modify_player</strong></a>(player_table)</dt><dd><tt>To&nbsp;modify&nbsp;a&nbsp;player<br>
&nbsp;<br>
no&nbsp;return,&nbsp;the&nbsp;modification&nbsp;will&nbsp;be&nbsp;directly&nbsp;registered&nbsp;in&nbsp;the&nbsp;database</tt></dd></dl>
 <dl><dt><a name="-new_user"><strong>new_user</strong></a>()</dt><dd><tt>To&nbsp;add&nbsp;a&nbsp;new&nbsp;player<br>
&nbsp;<br>
Returns<br>
-------<br>
name:&nbsp;str<br>
&nbsp;&nbsp;&nbsp;&nbsp;name&nbsp;input&nbsp;after&nbsp;control<br>
surname:&nbsp;str<br>
&nbsp;&nbsp;&nbsp;&nbsp;surname&nbsp;input&nbsp;after&nbsp;control<br>
date_of_birth:&nbsp;str<br>
&nbsp;&nbsp;&nbsp;&nbsp;date&nbsp;of&nbsp;birth&nbsp;input&nbsp;after&nbsp;control,&nbsp;must&nbsp;be&nbsp;as&nbsp;a&nbsp;datetime<br>
sex:&nbsp;str<br>
&nbsp;&nbsp;&nbsp;&nbsp;sex&nbsp;input&nbsp;after&nbsp;control<br>
ranking:&nbsp;str<br>
&nbsp;&nbsp;&nbsp;&nbsp;ranking&nbsp;input&nbsp;after&nbsp;control,&nbsp;if&nbsp;no&nbsp;entry&nbsp;==&gt;&nbsp;1000</tt></dd></dl>
 <dl><dt><a name="-sleep"><strong>sleep</strong></a>(...)</dt><dd><tt><a href="#-sleep">sleep</a>(seconds)<br>
&nbsp;<br>
Delay&nbsp;execution&nbsp;for&nbsp;a&nbsp;given&nbsp;number&nbsp;of&nbsp;seconds.&nbsp;&nbsp;The&nbsp;argument&nbsp;may&nbsp;be<br>
a&nbsp;floating&nbsp;point&nbsp;number&nbsp;for&nbsp;subsecond&nbsp;precision.</tt></dd></dl>
</td></tr></table>
</body></html>