<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: module players</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>players</strong></big></big></font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:c%3A%5Cgit%5Coc_p4_project%5Cviews%5Cplayers.py">c:\git\oc_p4_project\views\players.py</a></font></td></tr></table>
    <p><tt>view&nbsp;all&nbsp;players<br>
&nbsp;<br>
Functions<br>
---------<br>
<a href="#-view_all_players">view_all_players</a>(player_table,&nbsp;sorted_by='rank')<br>
&nbsp;&nbsp;&nbsp;&nbsp;view&nbsp;all&nbsp;players&nbsp;in&nbsp;the&nbsp;base.&nbsp;Sorted&nbsp;by&nbsp;rank&nbsp;by&nbsp;default.&nbsp;Possibility&nbsp;to&nbsp;sort&nbsp;by&nbsp;name</tt></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#eeaa77">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Functions</strong></big></font></td></tr>
    
<tr><td bgcolor="#eeaa77"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><dl><dt><a name="-view_all_players"><strong>view_all_players</strong></a>(player_table, sorted_by='rank')</dt><dd><tt>view&nbsp;all&nbsp;players&nbsp;in&nbsp;the&nbsp;base.&nbsp;Sorted&nbsp;by&nbsp;rank&nbsp;by&nbsp;default.&nbsp;Possibility&nbsp;to&nbsp;sort&nbsp;by&nbsp;name<br>
&nbsp;<br>
Parameters<br>
----------<br>
player_table:&nbsp;tinydb.TinyDB.table<br>
&nbsp;&nbsp;&nbsp;&nbsp;table&nbsp;players<br>
sorted_by:&nbsp;str<br>
&nbsp;&nbsp;&nbsp;&nbsp;sorted&nbsp;by&nbsp;rank&nbsp;by&nbsp;default,&nbsp;possibly&nbsp;by&nbsp;name</tt></dd></dl>
</td></tr></table>
</body></html>